* {
    font-family: "Poppins", sans-serif;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#navlinks {
    text-transform: uppercase;
}

#navlinks a:hover {
    color: #F7C331;
}

#landing {
    background: #6B7A8F;
}

#landing p {
    background: #6B7A8F;
    font-size: 1.2rem;
}

#landing h4 {
    color: #DCC7AA;
}

#landing-text-goal {
    color: #F7C331;
}

#tools {
    background: #DCC7AA;
}

#tools h5 {
    color: #ffffff;
    font-size: 1.5rem;
}

#tools img {
    width: 150px;
    height: 150px;
}

#social img {
    width: 30px;
    height: auto;
}

iframe {
    width: 65%;
    height: 65%;
}

#form-p1 {
    font-weight: bold;
    color: #F7882F;
    font-size: 1.5rem;
}

#contact button {
    background: #F7C331;
}

#social {
    background: #f1f1f1;
}

#rights {
    background: rgba(0, 0, 0, 0.2);
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
    text-align: center;
}

@media only screen and (max-width: 600px) {
  #landing p {
    font-size: 1.1rem;
  }
  iframe {
    width: auto;
    height: auto;
}

}